main {
    display: flex;
    min-height: calc(100vh - 70px);
}

.left {
    width: 25%;
    border-right: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit button {
    width: 60%;
    padding: 5%;
    margin: 8%;
    background-color: #F5F5F5;
    border: none;
}

.edit button:hover {
    background-color: #EEECEC;
}

.edit button:active,
.active {
    border-radius: 30vw;
}

.hidden {
    display: none;
}

.blog {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.right {
    width: 100%;
}
