body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(108, 148, 117);
    color: #1F2922;
    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 0 10px 12px rgba(31, 41, 34, 0.2);
}



header a {
    background-color: 	#263D2C;
    color: #e9e9e9;
    text-decoration: none;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 7px;
    transition: all ease 0.2s;
}

header a:hover {
    background-color: #1C3022;
}

#login {
    margin-left: auto;
}
